/* Overlay for sidebar on small screens */
.main-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 8, 32, 0.55);
    z-index: 10;
    transition: background 0.2s;
    backdrop-filter: blur(2px);
    pointer-events: auto;
    /* Allow scroll but block all other pointer events except click */
}
@media (max-width: 792px) {
    .main {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-inline: auto;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        max-width: 100vw;
        box-sizing: border-box;
    }
}
.layout-container {
    display: flex;
    min-height: 100vh;
}

.layout-container--expanded .main {
    margin-left: 220px;
}

.layout-container--collapsed .main {
    margin-left: 50px;
}

.main {
    margin-top: 50px;
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
    /* transition: margin-left 0.3s ease; */
}


@media (max-width: 1312px) {
    .layout-container--expanded .main,
    .layout-container--collapsed .main {
        margin-left: 50px;
    }
}

/* @media (min-width: 769px) and (max-width: 1024px) {
    .layout-container--expanded .main,
    .layout-container--collapsed .main {
        margin-left: 0;
    }

    .main {
        padding: 1.5rem;
    }
} */