* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark: rgb(0, 5, 27);
    /* dark in hex #00051b; */

    --bg-light: rgb(9, 15, 39);
    --bg-light-bg: rgb(9, 15, 39, 0.55)
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--bg-dark);
    position: relative;
    font-family: "Inter", "Segoe UI", system-ui, -apple-system, sans-serif;
    color: #e7efff;
}
